<div class="main-container">
	<div class="main-pano"></div>
</div>
<div class="main-container">
	<div class="about-center-text-container">Built in the late 1800’s and fully renovated in 2016, <strong>The Suites at 109 Main</strong> are in the heart of Stowe Village. Historic charm and expansive views from your windows allow you to experience Main Street and all its vibrancy!</div>
</div>
<%= link_to '/suites/pinnacle' do %>
	<div class="main-container grey-background">
		<div class="about-center-container about-center-image-container">
			<div class="suite-about-photograph">
				<%= image_tag("pinnacle_thumb.png") %>
			</div>
			<div class="suite-about">
				<div class="suite-about-name">The Pinnacle Suite</div>
				<div class="suite-about-description">2 bedroom, 1.5 bath townhouse with in-unit washer/dryer. Fully equipped kitchen with dishwasher, microwave and seating for 6, for those nights you feel like dining in with friends or family. Fantastic views of historic Main Street!</div>
				<div class="suite-about-price">FROM $199</div>
			</div>
		</div>
	</div>
<% end %>
<%= link_to '/suites/sterling' do %>
	<div class="main-container grey-background">
		<div class="about-center-container about-center-image-container">
			<div class="suite-about-photograph">
				<%= image_tag("sterling_thumb.png") %>
			</div>
			<div class="suite-about">
				<div class="suite-about-name">The Sterling Suite</div>
				<div class="suite-about-description">2 bedroom, 1.5 bath townhouse with in-unit washer/dryer. Fully equipped kitchen with dishwasher, microwave and seating for 6, for those nights you feel like dining in with friends or family. Fantastic views of historic Main Street!</div>
				<div class="suite-about-price">FROM $199</div>
			</div>
		</div>
	<% end %>
</div>