<div class="main-container">
	<div class="main-pano"></div>
</div>
<div class="main-container">
	<div class="about-center-container">Built in 1852 and renovated in 2016, <strong>109 Main</strong> is the heart of Stowe Village. Original wood floors and expansive views allow you to experience Main Street in all its vibrancy.</div>
</div>
<%= link_to '/suites/pinnacle' do %>
<div class="main-container grey-background">
	<div class="about-center-container about-center-image-container">
		<div class="suite-about-photograph pinnacle-thumb"></div>
		<div class="suite-about">
			<div class="suite-about-name">The Pinnacle Suite</div>
			<div class="suite-about-description">2 bedroom, 1.5 bath duplex with in-unit washer/dryer. Fully equipped kitchen; table with room to seat 6 for those nights you feel like dining in with friends. Apartment faces out on historic Main Street.</div>
			<div class="suite-about-price">FROM $199</div>
		</div>
	</div>
</div>
<% end %>
<%= link_to '/suites/sterling' do %>
	<div class="main-container grey-background">
		<div class="about-center-container about-center-image-container">
			<div class="suite-about-photograph sterling-thumb"></div>
			<div class="suite-about">
				<div class="suite-about-name">The Sterling Suite</div>
				<div class="suite-about-description">2 bedroom, 1.5 bath duplex with in-unit washer/dryer. Fully equipped kitchen; table with room to seat 6 for those nights you feel like dining in with friends. Apartment faces out on historic Main Street.</div>
				<div class="suite-about-price">FROM $199</div>
			</div>
		</div>
	<% end %>
</div>

