$name-color: #34893a;
$base-color: #ededed;
$font-color: #707070;
$dark-font: #191919;


body {
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: $font-color;
}

.welcome-navigation-bar {
	height: 75px;
	width: 100%;
	background: hsla(0, 0%, 91%, 0.9);
	position: fixed;
	display: inline-block;
	z-index: 100;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	text-align: center;
	a {
		color: $name-color;
		font-size: 36px;
		line-height: 75px;
		text-decoration: none;
		float: left;
    margin-left: 25px;
	}
	.dropdown-toggle {
		float: right;
		height: 72px;
		width: 125px;
		line-height: 75px;
		color: $name-color;
		font-size: 16px;
		cursor: pointer;
	}
	.dropdown-toggle:hover {
		border-bottom: 3px solid $name-color;
	}
	.hidden-dropdown {
		display: none;
		background: hsla(0, 0%, 91%, 0.9);
		width: 175px;
		float: right;
    top: 75px;
    right: 0px;
    position: absolute;
    border: 1px solid #808080;
    text-align: center;
    :last-child {
    	margin-bottom: 6px;
    }
		a {
			display: inline-block;
			margin-top: 6px;
			color: $font-color;
			font-size: 16px;
			line-height: 20px;

		}
	}
}

.main-container {
	position: relative;
	height: 500px;
	.main-pano {
		height: 500px;
		background-image: url(asset-path("main_pano.png"));
	}
	.about-center-container {
		position: absolute;
	  top: 50%;
	  left: 50%;
  	transform: translate(-50%, -50%);
		font-size: 47px;
  	line-height: 57px;
		width: 100%;
		max-width: 65vw;
	  text-align: center;
	  background-color: white;
	  strong {
	  	color: $name-color;
	  }
	}
	.about-building-text-container {
		@extend .about-center-container;
		font-size: 30px;
		line-height: 30px;
		a {
			color: $name-color;
		}
	}
	.about-center-text-container {
		@extend .about-center-container;
		padding: 75px 0px 75px 0px;
	}
	.about-center-image-container {
		max-width: 75vw;
		height: 350px;
		.suite-about-photograph {
	  	width: 66%;
	  	height: 350px;
	  	display: inline-block;
	  	img {
	  		float: left;
	  		height: 350px;
	  		background-size: contain;
	  	}
	  }
	  .suite-about {
	  	padding: 25px;
	  	text-align: left;
	  	float: right;
	  	display: inline-block;
	  	width: calc(34% - 50px);
	  	height: 300px;
	  	text-decoration: none;
	  	color: $font-color;
	  	.suite-about-name {
	  		font-size: 22px;
	  		line-height: 22px;
	  		margin-bottom: 25px;
	  	}
	  	.suite-about-description {
	  		font-size: 14px;
	  		line-height: 14px;
	  	}
	  	.suite-about-price {
	  		position: absolute;
	  		bottom: 75px;
	  		vertical-align: baseline;
	  		font-size: 12px;
	  		font-weight: bold;
	  	}
	  }
	}
}

.main-container.grey-background {
	background-color: $base-color;
}

.suite-about-container:last-child {
	padding-bottom: 25px;
}

.suite-scrollable-image-container {
	display: inline-block;
	white-space: nowrap;
	height: 500px;
	width: 100%;
	overflow: -moz-scrollbars-vertical; 
	overflow-x: scroll;
	.more-image {
		background-image: url(asset-path("icon-circle-more.png"));
		position: absolute;
		top: 250px;
		right: 0px;
		width: 96px;
		height: 76px;
		background-size: contain;
		z-index: 80;
		background-color: black;
		opacity: .75;
	}
	img {
		display: inline-block;
		height: 100%;
	}
	.rotate-ninety {
		width: 375px;
		display: inline-block;
		img {
			-ms-transform: rotate(90deg); /* IE 9 */
		  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		  transform: rotate(90deg);
		  height: 375px;
		  width: 500px;
		  position: relative;
	    top: -63px;
	    left: -63px;
		}
	}
}

.suite-scrollable-image-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 8px;
}
.suite-scrollable-image-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.main-page-body{
	padding-top:75px;
	position: relative;
	color: $dark-font;
	.suite-title {
		text-align: center;
		font-size: 32px;
		margin: 12px 0px 12px 0px;
	}
	.suite-basics {
		margin: 0 auto;
		width: 580px;
		padding: 5px 0px;
		border-bottom: 1px solid $dark-font;
		border-top: 1px solid $dark-font;
		.suite-basic-text {
			height: 24px;
			text-align: center;
			display: inline-block;
			font-size: 14px;
			line-height: 24px;
			padding: 0px 25px;
			border-right: 1px solid $dark-font;
		}
		.suite-basic-text:last-child {
			border-right: 0px solid transparent;
		}
	}
	.suite-about-left-container {
		width: calc(65% - 100px);
		display: inline-block;
		vertical-align: top;
		padding:25px 50px;
		.book-now {
	    background-color: $name-color;
	    color: white;
	    width: 200px;
	    height: 25px;
	    padding: 10px;
	    margin: 0 auto;
	    display: block;
	    text-decoration: none;
	    line-height: 25px;
	    border-radius: 5px;
	    text-align: center;
	    margin-top: 50px;
		}
	}
	.suite-about-right-container {
		display: inline-block;
		width: 33%;
		.suite-about-container {
			.suite-about-centered-container {
				margin: 0 auto;
				width: 100%;
				max-width: 75vw;
			  padding-top: 25px;
			  .suite-about-header {
			  	font-size: 22px;
					line-height: 22px;
					margin-bottom: 12px;
			  }
			  .suite-about-description {
			  	font-size: 14px;
				  line-height: 16px;
			  }
			}
		}
	}

}

.bottom-bar {
	height: 75px;
	background-color: $base-color;
}

.about-building-container {
	width: 100%;
	display: inline-block;
	.about-building-image {
		display: block;
		height: 816px;
		width: 1088px;
		margin: 0 auto;
	}
}

.about-stowe-image-container {
	width: 100%;
	display: inline-block;
	.about-stowe-image {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
}











    